    .subscribe-button {
        background-color:rgb(200, 0, 0);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-top: 10px;

        transition: opacity 0.15s;
    }

    .subscribe-button:hover {
        opacity: 0.7;
    }
    .subscribe-button:active {
        opacity: 0.3;
    }

    .join-button {
        background-color: white;
        border-color: rgb(6, 95, 212);
        border-style: solid;
        color: rgb(41, 118, 211);
        border-width: 1px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 9px;
        padding-top: 9px;
         transition: background-color 0.15s,color 0.115s, opacity 0.15s;
    }
    .join-button:hover {
        background-color: rgb(6, 95, 212);
        color: white;
    }
    .join-button:active {
        opacity: 0.7;
    }

    .tweet-button {
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        border-radius: 18px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        margin-right: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 9px;
        padding-top: 9px;

        transition: box-shaow 0.15s;

    }
    .tweet-button:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }